<nav class="navbar navbar-expand-lg bg-body-tertiary footer">
    <div class="container ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link text-dark" href="#">服務方案</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-dark" href="#">關於職旅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">聯絡我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">用戶條款</a>
                </li>
            </ul>
        </div>
        <div class="text-secondary">
            <p>Copyright@2025職旅workway.All rights reserved</p>
        </div>
    </div>
</nav>